<app-navbar></app-navbar>
<div class="user-profile">
  <mat-card class="user-profile-card">
    <mat-card-title>Profile Information</mat-card-title>
    <div class="divider"></div>
    <mat-card-content class="user-profile-info">
      <p><b>Username:</b> {{ user.Username }}</p>
      <p><b>Email:</b> {{ user.Email }}</p>
      <p><b>Birthday:</b> {{ user.Birthday | date }}</p>
    </mat-card-content>
    <mat-card-actions class="usercard-actions">
      <button
        mat-raised-button
        (click)="openUserEditDialog()"
        class="edit-user-button"
      >
        <mat-icon>edit</mat-icon>
        Edit profile
      </button>
      <button
        mat-raised-button
        (click)="openUserDeleteDialog()"
        class="delete-user-button"
      >
        <mat-icon>delete_forever</mat-icon>
        Delete Profile
      </button>
    </mat-card-actions>
  </mat-card>
  <div>
    <div style="margin: 20px 0 20px 15px" class="mat-card-favorite-movies">
      <mat-card-title>Favorite Movies</mat-card-title>
    </div>
    <div
      *ngIf="displayElement; else message"
      style="display: flex; flex-wrap: wrap; margin: 0%; padding: 0%"
    >
      <mat-card
        *ngFor="let movie of FavMovies"
        style="flex: 0 0 23%; margin: 10px 5px; padding: 5px"
      >
        <mat-card-header>
          <mat-card-title>{{ movie.Title }}</mat-card-title>
          <mat-card-subtitle>Genre: {{ movie.Genre.Name }}</mat-card-subtitle>
        </mat-card-header>
        <img
          style="width: auto; height: 500px; margin-left: 1em"
          src="{{ movie.ImagePath }}"
          alt=" {{ movie.Title }}"
        />
        <mat-card-actions style="margin-left: 1em">
          <button
            mat-button
            color="primary"
            (click)="openGenreDialog(movie.Genre)"
          >
            Genre
          </button>
          <button
            mat-button
            color="primary"
            (click)="openDirectorDialog(movie.Director)"
          >
            Director
          </button>
          <button
            mat-button
            color="primary"
            (click)="openDescriptionDialog(movie.Description)"
          >
            Description
          </button>
          <button
            mat-icon-button
            (click)="deleteFavMovie(movie._id, movie.Title)"
          >
            <mat-icon>delete_outline</mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
    <ng-template #message>
      <h2>You don't have any favorite movies in your list</h2>
    </ng-template>
  </div>
</div>
