<app-navbar></app-navbar>
<div class="user-profile">
  <mat-card class="user-profile-card">
    <mat-card-title>Profile Information</mat-card-title>
    <div class="divider"></div>
    <mat-card-content class="user-profile-info">
      <p><b>Username:</b> {{ user.Username }}</p>
      <p><b>Email:</b> {{ user.Email }}</p>
      <p><b>Birthday:</b> {{ user.Birthday | date }}</p>
    </mat-card-content>
    <mat-card-actions class="usercard-actions">
      <button
        mat-raised-button
        (click)="openUserEditDialog()"
        class="edit-user-button"
      >
        <mat-icon>edit</mat-icon>
        Edit profile
      </button>
      <button
        mat-raised-button
        (click)="openUserDeleteDialog()"
        class="delete-user-button"
      >
        <mat-icon>delete_forever</mat-icon>
        Delete Profile
      </button>
    </mat-card-actions>
  </mat-card>

  <div class="favorite-movies-header">
    <h2 class="mat-card-favorite-movies">Favorite Movies</h2>
  </div>
  <div>
    <div *ngIf="displayElement; else message">
      <mat-card
        *ngFor="let movie of FavMovies"
        style="flex: 1; margin-top: 50px; margin-bottom: 50px; padding: 15px"
      >
        <mat-card-header>
          <mat-card-title>{{ movie.Title }}</mat-card-title>
          <mat-card-subtitle
            >Directed by: {{ movie.Director.Name }}</mat-card-subtitle
          >
        </mat-card-header>
        <img
          style="width: 325px; height: 400px"
          src="{{ movie.ImagePath }}"
          alt=" {{ movie.Title }}"
        />
        <mat-card-actions>
          <button
            mat-button
            color="primary"
            (click)="openGenreDialog(movie.Genre.Name, movie.Genre.Description)"
          >
            Genre
          </button>
          <button
            mat-button
            color="primary"
            (click)="
              openDirectorDialog(movie.Director.Name, movie.Director.Bio)
            "
          >
            Director
          </button>
          <button
            mat-button
            color="primary"
            (click)="openDescriptionDialog(movie.Title, movie.Description)"
          >
            Description
          </button>
          <button
            mat-icon-button
            (click)="deleteFavMovie(movie._id, movie.Title)"
          >
            <mat-icon>delete_outline</mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
    <ng-template #message>
      <h2>You don't have any favorite movies in your list</h2>
    </ng-template>
  </div>
</div>
